In [1]:
space = " "  # space is a single space variable 

print(space * 4, "*" * 1)
print(space * 3, "*" * 3)
print(space * 2, "*" * 5)
print(space * 0, "*" * 9)
print(space * 2, "*" * 5)
print(space * 3, "*" * 3)
print(space * 4, "*" * 1)

     *
    ***
   *****
 *********
   *****
    ***
     *

In [2]:
space = " "  # space is a single space variable 
space_x = 50 * space #space_x variable will be used for intendation 

print(space_x + space * 4, "*" * 1)
print(space_x + space * 3, "*" * 3)
print(space_x + space * 2, "*" * 5)
print(space_x + space * 0, "*" * 9)
print(space_x + space * 2, "*" * 5)
print(space_x + space * 3, "*" * 3)
print(space_x + space * 4, "*" * 1)

                                                       *
                                                      ***
                                                     *****
                                                   *********
                                                     *****
                                                      ***
                                                       *

In [3]:
space = " "  # space is a single space variable 
space_x = 10 * space #space_x variable will be used for intendation 

print(space_x + space * 4, "*" * 1)
print(space_x + space * 3, "*" * 3)
print(space_x + space * 2, "*" * 5)
print(space_x + space * 0, "*" * 9)
print(space_x + space * 2, "*" * 5)
print(space_x + space * 3, "*" * 3)
print(space_x + space * 4, "*" * 1)

               *
              ***
             *****
           *********
             *****
              ***
               *

In [ ]:
x = int(input("enter a number,positive please better even"))
upper = int((x+1)/2)  #the number of most asteriks
space = " "
space_x = int(input("how many space you want indent?"))

for i in range (0,upper):
    print(space*(x-(i)) + "*" * (2 * i +1))
for i in range (upper-1,-1,-1):
    print(space*(x-(i)) + "*" * (2 * i +1 ))

In [ ]:
for i in range (6,-1,-1):
    print(i)

In [ ]:
for i in range (0,6):
    print(i)

In [ ]:
                 
print("Hello,i will introduce myself")
print("My name: Huseyin")
print("Age: 30")
print("Job: Math Tutor  ")
print("Adres: Baglar, Diyarbakir")
print("Place of Birth:Kulp/Diyarbakir, TR")

In [ ]:
import math

def print_factors(*numbers):
    for x in numbers:
        if x < 1:
            print("No factors for numbers less than 1.")
            continue

        lower_factors = []  # To store factors less than or equal to the square root
        upper_factors = []  # To store factors greater than the square root

        # Iterate up to the square root of n
        for i in range(1, int(math.sqrt(x)) + 1):
            if x % i == 0:
                lower_factors.append(i)
                if i != x // i:
                    upper_factors.append(x // i)

        # Combine the lists: lower factors and reversed upper factors
        factors = lower_factors + upper_factors[::-1]

        print(f"Factors of {x}: {factors}")

# Example usage
print_factors(18,39,63,126,792)  # This will print the factors of 121, 144, and 156

In [ ]:
import time

start_time = time.time()
print_factors(121,144,156)  # Call your function with some input
end_time = time.time()

print(f"Execution time: {end_time - start_time} seconds")

***Unit3-4-5 Paper and Pair Codings Examples***

In [ ]:
a ="1"+"0"+"0"+"0"
print(a)
print(type(a))
a = int(a)
print(a)
print(type(a))

In [ ]:
#factorial function

def fact(x):
   a = 1 #initialize a
   for i in range(1,x+1):
        a = a * i
   print(x,"! = ",a)
   return a 

fact(5)
fact(-5)

In [ ]:
def fact(x):
    if not isinstance(x, int) or x < 0:    #if parameter of function is noninteger or negative 
        print("Input must be a non-negative integer")
        return None

    a = 1
    for i in range(1, x + 1):
        a *= i
    print(x, "! =", a)
    return a

In [ ]:
fact(-5)

In [ ]:
x = input ("give the width of rectangle")
y = input ("give the height of rectangle")
if not isinstance(x,y, float) or x,y < 0:    #if parameter of function is non float or negative 
        print("Input must be a non-negative integer")
        return None

In [ ]:
x = input("input the width of the rectangle: ")
y = input("input the height of the rectangle: ")

try:
    x = float(x)
    y = float(y)
    if x < 0 or y < 0:
        
        print("Inputs must be non-negative numbers.")
    else:
       print("area of rectangle: ",x*y )
except ValueError:
    print("Inputs must be numbers.")

In [ ]:
import math 
a = float(input("enter the bottom of the first line: "))
b = float(input("enter the height of the second line: "))

c = math.sqrt(a**2 + b**2)
print("the length of hypotenuse is the: ",c )

In [ ]:
import math 
r = float(input("enter the raidus of circle"))
area = math.pi*r**2
print("area of circle = ",area)

circumference = 2*math.pi*r
print("circumference = ",circumference)

In [ ]:
print("a  n   a**n")
for i in range(2,7):  
    
    print(str(i) + "**2 =",i**2)

In [ ]:
a = int(input("enter an integer "))
print("is the integer odd?::",a % 2 != 0)

In [ ]:
a = int(input("enter an integer "))
print("is the input an even integer between 0 or 100 ::",a % 2 == 0 and a <= 100 and a >= 0)

In [ ]:
a = int(input("enter an integer "))
print("is hundredth digit of the integer 3 ?:",a//100 == 3)

In [ ]:
a = int(input("enter an integer "))
print("is the number a multiple of 5? :",a % 5 == 0)

***Unit 6-7-8-9 Paper and Pair Codings Examples

In [ ]:
def func(x):
    pass
func(5)

In [ ]:
game_score = int(input("enter the game score: "))

if game_score >= 1500:
    print("you are a master")
else:
    print("you are nothing!")

In [ ]:
x = int(input("enter an integer between -100 and 100"))

if x>0:
    print("x is a natural number!")
else:
    print("x = ",x)

In [8]:
num1, num2, num3 = input("enter three number separated by,:").split(",")
num1, num2, num3 = int(num1), int(num2), int(num3)
print(num1, num2, num3)

enter three number separated by,:10,20,30
10 20 30

In [11]:
age = int(input("enter the age: "))
if age  > 20:
    print("Adult")
elif age >= 10:
    print("Young")
else:
    print("Kid")

enter the age: 25
Adult

In [3]:
vowels = "aeiou"
letter = input("enter a letter: ")

if letter in vowels:
    print(letter,"is a vowel")
else:
    print(letter,"is a consonant")

enter a letter: k
k is a consonant

In [12]:
a,b = input("enter the number and separate them by ,  ").split(",")
a,b = int(a), int(b)

if a % b == 0:
    print(a,"is a multiple of",b)
else:
    print(a,"is not a multiple of",b)

enter the number and separate them by ,  30,7
30 is not a multiple of 7

In [31]:
print("1) Addition  2) Subtraction  3) Multiplication  4) Division ")
op_numb = int(input("Enter the desired number of operation: "))
a,b = input("Enter two numbers for operation and separate them by , :").split(",")
a,b = int(a), int(b)

if op_numb == 1:
    print(f"{a} + {b} = ",a+b)
elif op_numb == 2:
    print(f"{a} - {b} ={a-b}")
elif op_numb == 3:
    print(f"{a} * {b} ={a*b}")
elif op_numb == 4:
    print(f"{a} / {b} ={a/b}")

1) Addition  2) Subtraction  3) Multiplication  4) Division
Enter the desired number of operation: 1
Enter two numbers for operation and separate them by , :50,10
50 + 10 =  60

In [40]:
x, y  = input("Enter x,y coordinates and separate them , :").split(",") #take two valueand assign them x and  y 
x, y = int(x), int(y)  #convert hem integer

if x>0 and y>0 :   #check  for x and y values 
    print("In the first quadrant")
elif x<0 and y>0 :
    print("In the second quadrant")
elif x<0 and y<0 :
    print("In the third quadrant")
else:
    print("In the fourth quadrant")

Enter x,y coordinates and separate them , :-4,-5
In the third quadrant

In [49]:
print("Welcome to Yummy Restaurant,here is the menu.")
print(" -Burger(enter b)\n -Chicken(enter c)\n -Pizza(enter p)")

choosen_menu = input("Please choose one of the menu(b,c,p),but just one please!\n")

if choosen_menu == "c":
    print("You chooes chiccccckkkenn!!!")
elif choosen_menu == "b":
    print("You chooes buuurgerrrrr!!!")
else:
    print("You choose pizzzzza!!!")

Welcome to Yummy Restaurant,here is the menu.
 -Burger(enter b)
 -Chicken(enter c)
 -Pizza(enter p)
Please choose one of the menu(b,c,p),but just one please!
10
You choose pizzzzza!!!

In [50]:
st = "Hello"
print(list(st))

['H', 'e', 'l', 'l', 'o']

In [53]:
st = "Hello"

for ch in st :
    print(ch,end = "   ")

H   e   l   l   o

In [54]:
bts = ["V","J-Hope","RM","Jungkook","Jin","Jimin","Suga"]

for i in bts:
    print(i)

V
J-Hope
RM
Jungkook
Jin
Jimin
Suga

In [56]:
s = 0 # define a summ variable
for i in range(101):
    s += i
print(f"sum of integers from 1 to 100 is: {s}")

sum of integers from 1 to 100 is: 5050

In [60]:
s = 0 # define a summ variable
for i in range(2,102,2):
    s += i
print(f"sum of even integers from 0 to 100 is: {s}")

sum of even integers from 0 to 100 is: 2550

In [61]:
s = 0 # define a summ variable
for i in range(1,100,2):
    s += i
print(f"sum of odd integers from 0 to 100 is: {s}")

sum of odd integers from 0 to 100 is: 2500

***CHAPTER2***

In [35]:
person1 = ["david",20,1,180,0]
person2 = ["yasin",24,1,190]

print(person1[1::-1])
print(person1[::-1])
print(person1[1::-1])

[20, 'david']
[0, 180, 1, 20, 'david']
[20, 'david']

In [74]:
import math 

def iss_prime(x):  # define a function that controls an integer is prime or not 
    prime_value = True  # initially we accept all the integer as prime for a moment
    for j in range(2,math.ceil(math.sqrt(x))+1):
        if x != 2 and x % j == 0: # if the condition satisfied we change our first acceptance
            prime_value = False
            
    return prime_value

        
    
a = []  # define an empty list to add primes
for i in range(2,10):
    if iss_prime(i):
        a.append(i)
print(f"1**st element of prime list: {a[0]} " )

1**st element of prime list: 2

In [80]:
prime_number = [2,3,5,7]
print("Prime numbers : ",prime_number)
prime_number.append(11)
print("Prime numbers after addition : ",prime_number)

Prime numbers :  [2, 3, 5, 7]
Prime numbers after addition :  [2, 3, 5, 7, 11]

In [82]:
list_1 = [3,5,7]
list_2 = [2,3,4,5,6]

for i in list_1:
    for j in list_2:
        print(f"{i} * {j} = {i*j}")

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [95]:
import math
s_list = ["abc","bcd","bcdefg","abba","cddc","opo"]

shortest = math.inf   #lets assign the worst case scenario to shortets which is shortest is the biggest:))

for el in s_list:
    if shortest > len(el):
        shortest = len(el)
    

for j in s_list:
    if len(j) == shortest:
        print(f"shortes string : {j}")
        break

shortes string : abc

In [97]:
import math
s_list = ["abc","bcd","bcdefg","abba","cddc","opo"]

longest = 0  #lets assign the best case scenario to longest  which is longest is the smallest[:)))::2)]

for el in s_list:
    if longest < len(el):
        longest = len(el)
    

for j in s_list:
    if len(j) == longest:
        print(f"shortes string : {j}")
        break

shortes string : bcdefg

In [117]:
import math
s_list = ["abc","bcd","bcdefg","abba","cddc","opo"]

shortest = math.inf   #lets assign the worst case scenario to shortets which is shortest is the biggest:))

for el in s_list:
    if shortest > len(el):
        shortest = len(el)
    
shortest_els = []

for j in s_list:
    if len(j) == shortest:
        shortest_els.append(j)
        
print(f"Shortest strings: {', '.join(shortest_els)}")

Shortest strings: abc, bcd, opo

In [120]:
print("di\
yor\
  idim")

diyor  idim

In [147]:
capital_dic ={"Korea":"Seoul", "China":"Beijing","USA":"Washington DC"}
capital_dic["Korea"]



for key in capital_dic:
    print("key:{}\nvalue:{}".format(key,capital_dic[key]))

key:Korea
value:Seoul
key:China
value:Beijing
key:USA
value:Washington DC

In [150]:
fruits_dic = {"apple":500,"banana":4000, "grape":5300, "melon":6500}
# type(fruits)

for key in fruits_dic:
    print("The of {} is {} KRW".format(key,fruits_dic[key]))

The of apple is 500 KRW
The of banana is 4000 KRW
The of grape is 5300 KRW
The of melon is 6500 KRW

In [179]:
for i in range(8,50):
    print("{:10d} {:20d}    {:1d}".format(i,i**2,i**3))

         8                   64    512
         9                   81    729
        10                  100    1000
        11                  121    1331
        12                  144    1728
        13                  169    2197
        14                  196    2744
        15                  225    3375
        16                  256    4096
        17                  289    4913
        18                  324    5832
        19                  361    6859
        20                  400    8000
        21                  441    9261
        22                  484    10648
        23                  529    12167
        24                  576    13824
        25                  625    15625
        26                  676    17576
        27                  729    19683
        28                  784    21952
        29                  841    24389
        30                  900    27000
        31                  961    29791
        32                 1024    32768
        33                 1089    35937
        34                 1156    39304
        35                 1225    42875
        36                 1296    46656
        37                 1369    50653
        38                 1444    54872
        39                 1521    59319
        40                 1600    64000
        41                 1681    68921
        42                 1764    74088
        43                 1849    79507
        44                 1936    85184
        45                 2025    91125
        46                 2116    97336
        47                 2209    103823
        48                 2304    110592
        49                 2401    117649

In [182]:
fruits_dic = {"apple":500,"banana":4000, "grape":5300, "melon":6500}
# type(fruits)

print(fruits_dic.keys())

def is_inn(x):
          if x in fruits_dic:
                                     print("{} is in fruit_dic".format("apple"))
          else:
            print("{} is not in fruit_dic".format(x))
            
is_inn("apple")
is_inn("mango")

SyntaxError: invalid syntax (Temp/ipykernel_480/1702764780.py, line 14)